@media  only screen and (max-device-width:600px){

    #page_title{
        color:gray;
        padding-bottom:5%;
        border-bottom: 1px solid black;
        width:60%;
    }

    #user{
        background-color: azure;    
        padding:1%;
        padding-bottom:4%;
        margin:4%;
        border-radius: 1em;
        box-shadow: 1px 1px 2px black;
        text-align: left;
    }

    button[id="go_to_profile"]{
        background-color: rgb(51, 204, 255);
        color:white;
        padding:2%;
        margin-bottom:2%;
        margin-left:40%;
        border:2px solid white;
    }

    button[id="request_slam"]{
        background-color: rgb(51, 204, 255);
        color:white;
        padding:2%;
        margin-bottom:1%;
        margin-left:40%;
        border:2px solid white;
    }

    button[id="request_slam_disabled"]{
        padding:2%;
        margin-bottom:1%;
        margin-left:40%;
        border:2px solid white;
        background-color: gray;
        color:black;
    }

    #some_user_img{
        float:left;
        margin-top:8%;
        margin-left:6%;
        margin-right:15%;
        font-size:450%;
    }

}