{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Home{% endblock %}
{% block page_title %}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<form action="/usearch?user={{log_user}}" id="user_search_form" method="POST">
    {% csrf_token %}
    <input type="text" name="user_search" id="user_search" placeholder="Username"><br>
    <button type="submit" id="user_search_submit">Search</button>
</form>
<h3 id="featured_heading">Featured Slams</h3>
<div class="home_slams">
    {% if home_slams|length > 0 %}
    {% for slam in home_slams %}
        <div id="some_rand_slam">
            <img src="{% static 'featured_slam2.jpg' %}" alt="">
            <h4>from : {{slam.post_from}}</h4>
            <h4>to : {{slam.post_for}}</h4>
            <table>
                <tr>
                    <td>
                        <form name="slam_view_form" id="slam_view_form" action="/slam?user={{log_user}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" name="post_from" id="post_from" value="{{slam.post_from}}" style="display: none;">
                            <input type="text" name="post_for" id="post_for" value="{{slam.post_for}}" style="display: none;">
                            <button id="slam_view_submit" name="slam_view_submit" type="submit">View</button>
                        </form>            
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    {% else %}
        <blockquote>Awesome slams coming here soon ... ; )</blockquote>
    {% endif %}
</div>
{% endblock %}
