{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}
{% block body %}
<div class="login_status">
    <strong>{{status}}</strong>
</div>
<br>
<form action="/login" id="login_form" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="key" id="key" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" id="login_submit">Login</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
{% block footer %}<h4>Don't have an account ?&nbsp;<a href="/f_signup">SignUp</a></h4>{% endblock %}