{% extends 'base.html' %}
{% load i18n static %}
{% block title %} {{my_info.username}} {% endblock %}
{# block page_title #} {{my_info.username}} {# endblock #}
{% block logged_area %}
<div class="logged_area">
    <h5 id="log_username">{{log_user}}</h5>
    <table>
            <tr>
                <td>
                    <form id="log_username_form" action="">
                        {% csrf_token %}
                        <input type="text" style="display: none;">
                        <!-- <a href="/home?user={{log_user}}"><button type="button" id="home"> Home </button></a> -->
                        <a href="/home?user={{log_user}}"><button type="button" id="home"><i class="fas fa-home"></i></button></a>
                        
                    </form>
                </td>
                <td>
                    <form action="/fupprofile" id="log_username_form" method="POST">
                        {% csrf_token %}
                        <input type="text" name="up_username" value="{{log_user}}" style="display: none;" id="up_username">
                        <!-- <a href=""><button type="submit" id="update_profile">Update</button></a> -->
                        <a href=""><button type="submit" id="update_profile"><i class="fas fa-user-edit"></i></button></a>
                    </form>
                </td>
                <td>
                    <form action="/logout" id="log_username_form" method="POST">
                        {% csrf_token %}
                        <input type="text" name="out_username" value="{{log_user}}" style="display: none;" id="out_username">
                        <!-- <button type="submit" id="logout">Logout</button> -->
                        <button type="submit" id="logout"><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static 'priv_profile.css' %}">
    <i id="astro_user" class="fas fa-user-astronaut fa-5x"></i>
    <h2 id="profile_username">{{my_info.username}}</h2>
    <h3 id="profile_name">{{my_info.name}}</h3><br>
    <label for="profile_about">About</label>
    <h3 id="profile_about">{{my_info.bio}}</h3>
    <hr>
    {% if request_forme|length > 0 %}
    <h3 id="slam_request_lable">Slam Requests :</h3>
    <div class="request_forme">
        {% for request in request_forme %}
        <div class="some_request">
            <h4 id="requester">{{request.req_from}}</h4>
            <table>
                <tr>
                    <td>
                        <form>
                            {% csrf_token %}
                            <input type="text" style="display: none;">
                            <input type="text" style="display: none;">             
                            <a href="/pprofile?user={{request.req_to}}&user2={{request.req_from}}"><button type="button" id="go_to_profile">Profile</button></a>
                        </form>
                    </td>
                    <td>
                        <form action="/fslam_form?user={{log_user}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" name="post_from" id="post_from" value="{{request.req_from}}" style="display: none;">
                            <input type="text" name="post_for" id="post_for" value="{{request.req_to}}" style="display: none;">             
                            <a href="" id="some_request_button"><button type="submit">Write Slam</button></a>
                        </form>
                    </td>
                    <td>
                        <form action="/reqdel?user={{log_user}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" name="req_from" id="req_from" value="{{request.req_from}}" style="display: none;">
                            <input type="text" name="req_to" id="req_to" value="{{request.req_to}}" style="display: none;">             
                            <a href="" id="some_request_button"><button type="submit">Delete</button></a>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    <div class="my_slams">
        {% if my_slams|length == 0 %}
        <h4>No slams yet ! , Get in there player ; )</h4>
        {% else %}
        <h3 id="my_slams_title" >My Slams :</h3>
        {% for slam in my_slams %}
        <div id='some_slam'>
            <h4>Slam from : {{slam.post_from}}</h4>
            <!-- <h5>My nickname ?</h5>
            <h4>{{slam.f2}}</h4>
            <h5>What you like the most about me ?</h5>
            <h4>{{slam.f3}}</h4>
            <h5>Favourite movie ?</h5>
            <h4>{{slam.f6}}</h4> -->
            <table>
                <tr>
                    <td>
                        <form name="slam_view_form" id="slam_view_form" action="/slam?user={{log_user}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" name="post_from" id="post_from" value="{{slam.post_from}}" style="display: none;">
                            <input type="text" name="post_for" id="post_for" value="{{log_user}}" style="display: none;">
                            <button id="slam_view_submit" name="slam_view_submit" type="submit">View</button>
                        </form>            
                    </td>
                    <td>
                        {% if slam.public == False %}
                        <form name="slam_pub_form" id="slam_pub_form" action="/pptoggle?user={{log_user}}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="pid" id="pid" value="{{slam.id}}" style="display: none;">
                            <button id="slam_pub_submit" name="slam_pub_submit" type="submit">Make Public</button>
                        </form>
                        {% else %}
                        <form name="slam_priv_form" id="slam_priv_form" action="/pptoggle?user={{log_user}}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="pid" id="pid" value="{{slam.id}}" style="display: none;">
                            <button id="slam_priv_submit" name="slam_priv_submit" type="submit">Make Private</button>
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        <form name="slam_delete_form" id="slam_delete_form" action="/slamwipe?user={{log_user}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" name="post_id" id="post_id" value="{{slam.id}}" style="display: none;">
                            <button id="slam_delete_submit" name="slam_delete_submit" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}