{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{profile.username}}{% endblock %}
{% block page_title %}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'pub_profile.css' %}">
    {% if profile != '' %}
    <div class="user_info">
        <i id="pub_user" class="fas fa-user fa-5x"></i>
        <h2 id="username">{{profile.username}}</h2>
        <h3 id="name">{{profile.name}}</h2>
        <h3 id="about_label">About</h3>
        {% if profile.bio != none %}
        <h4 id="user_bio">{{profile.bio}}</h4>
        {% else %}
        <h4 id="user_bio">Something interesting about me coming soon !</h4>
        {% endif %}
    </div>
    <hr>
    <h3 id="pub_slam_title">Public Slams :</h3>
    <div class="public_slams">
    {% if public_slams|length > 0 %}
    {% for slam in public_slams %}
        <div id="some_slam">
            <h4>Slam from : {{slam.post_from}}</h4>
            <table>
             <tr>
                 <td>
                     <form name="slam_view_form" id="slam_view_form" action="/slam?user={{log_user}}" method='POST'>
                         {% csrf_token %}
                         <input type="text" name="post_from" id="post_from" value="{{slam.post_from}}" style="display: none;">
                         <input type="text" name="post_for" id="post_for" value="{{slam.post_for}}" style="display: none;">
                         <button id="slam_view_submit" name="slam_view_submit" type="submit">View</button>
                     </form>            
                 </td>
             </tr>
            </table>
        </div>
    {% endfor %}
    {% else %}
        <h4>No public slams yet !</h4>
    {% endif %}
    </div>
    {% else %}
    <h2>Sorry , user not found ! </h2>
    {% endif %}
{% endblock %}