{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Signup {% endblock %}
{% block page_title %} Signup {% endblock %}
{% block logged_area %}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% if status != none %}
<br>
<div class="signup_status">
    {{status}}
</div>
<br>
{% endif %}
<form action="/register" id="signup_form" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <input type="text" name="name" placeholder="Full Name" required>            
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" placeholder="Unique Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="key" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="confirm_key" placeholder="Confirm Password" required>
            </td>
        </tr>
    </table>
    <button type="submit" id="signup_submit">Signup</button>
</form>
{% endblock %}
{% block footer %}<h4>Have an account ?&nbsp;<a href="/flogin">Login</a></h4>{% endblock %}