{% extends 'base.html' %}
{% block title %} Signup {% endblock %}
{% block page_title %} Signup {% endblock %}
{% block body %}

<form action="/register" id="signup_form" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <input type="text" name="name" placeholder="Full Name" required>            
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" placeholder="Unique Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="key" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="confirm_key" placeholder="Confirm Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" id="signup_submit">Signup</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
{% block footer %}<h4>Have an account ?&nbsp;<a href="/f_login">Login</a></h4>{% endblock %}