{% extends 'base.html' %}
{% block title %}Slam{% endblock %}
{% block page_title %}{{slam.post_from}}'s slam for {{log_user}}{% endblock %}
{% block body %}
{% if logged == True %}
<div class="logged_area">
    <h5>{{log_user}}</h5>
    <table>
        <tr>
            <td>
                <br>
                <form action="/logout" method="POST">
                    {% csrf_token %}
                    <input type="text" name="out_username" value="{{log_user}}" style="display: none;" id="out_username">
                    <button type="submit" id="logout">Logout</button>
                </form>
            </td>
            <td>
                <a href="/prprofile?user={{log_user}}"><button type="button" id="profile_getter">Profile</button></a>
            </td>
        </tr>
    </table>
</div><br>
{% else %}
    <a href="/login"><button>Login</button></a>
{% endif %}
<div class="slam_content">
<table>
    <tr>
       <td> Do you believe in destiny , what's yours and what's mine ?</td>
    </tr>
    <tr><td>{{slam.f1}}</td></tr>
    <tr>
       <td> Your philosophy of life ?</td>
    </tr>
    <tr><td>{{slam.f2}}</td></tr>
    <tr>
       <td> My nickname ?</td>
    </tr>
    <tr><td>{{slam.f3}}</td></tr>
    <tr>
       <td> What you like the most about me ? </td>
    </tr>
    <tr><td>{{slam.f4}}</td></tr>
    <tr>
       <td> What you hate the most about me ?</td>
    </tr>
    <tr><td>{{slam.f5}}</td></tr>
    <tr>
       <td> Funniest Experience ?</td>
    </tr>
    <tr><td>{{slam.f6}}</td></tr>
    <tr>
       <td> Favourite movie ? </td>
    </tr>
    <tr><td>{{slam.f7}}</td></tr>
    <tr>
       <td> Most listened/favourite song ? </td>
    </tr>
    <tr><td>{{slam.f8}}</td></tr>
    <tr>
       <td> Your three wishes in life ?</td>
    </tr>
    <tr><td>{{slam.f9}}</td></tr>
    <tr>
       <td> Your ambition ?</td>
    </tr>
    <tr><td>{{slam.f10}}</td></tr>
    <tr>
        <td>What animal would i be ?</td>
    </tr>
    <tr><td>{{slam.f11}}</td></tr>
    <tr>
        <td>Want me to have more ..</td>
    </tr>
    <tr><td>{{slam.f12}}</td></tr>
    <tr>
        <td>My irrititaing or cute habit ?</td>
    </tr>
    <tr><td>{{slam.f13}}</td></tr>
    <tr>
        <td>Best memory with me ?</td>
    </tr>
    <tr><td>{{slam.f14}}</td></tr>
    <tr>
        <td>Your crush ?</td>
    </tr>
    <tr><td>{{slam.f15}}</td></tr>
    <tr>
        <td>Write your heart out and be creative ...</td>
    </tr>
    <tr><td>{{slam.f16}}</td></tr>
</table>
</div>
{% endblock %}