{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Slam{% endblock %}
{% block page_title %}{{slam.post_from}}'s slam for {{slam.post_for}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'slam.css' %}">
<div class="slam_content">
<table>
    <tr id="question">
       <td> Do you believe in destiny , what's yours and what's mine ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f1}}</p></td></tr>
    <tr id="question">
       <td> Your philosophy of life ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f2}}</p></td></tr>
    <tr id="question">
       <td> My nickname ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f3}}</p></td></tr>
    <tr id="question">
       <td> What you like the most about me ? </td>
    </tr>
    <tr id="answer"><td><p>{{slam.f4}}</p></td></tr>
    <tr id="question">
       <td> What you hate the most about me ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f5}}</p></td></tr>
    <tr id="question">
       <td> Funniest Experience ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f6}}</p></td></tr>
    <tr id="question">
       <td> Favourite movie ? </td>
    </tr>
    <tr id="answer"><td><p>{{slam.f7}}</p></td></tr>
    <tr id="question">
       <td> Most listened/favourite song ? </td>
    </tr>
    <tr id="answer"><td><p>{{slam.f8}}</p></td></tr>
    <tr id="question">
       <td> Your three wishes in life ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f9}}</p></td></tr>
    <tr id="question">
       <td> Your ambition ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f10}}</p></td></tr>
    <tr id="question">
        <td>What animal would i be ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f11}}</p></td></tr>
    <tr id="question">
        <td>Want me to have more ..</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f12}}</p></td></tr>
    <tr id="question">
        <td>My irrititaing or cute habit ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f13}}</p></td></tr>
    <tr id="question">
        <td>Best memory with me ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f14}}</p></td></tr>
    <tr id="question">
        <td>Your crush ?</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f15}}</p></td></tr>
    <tr id="question">
        <td>Write your heart out and be creative ...</td>
    </tr>
    <tr id="answer"><td><p>{{slam.f16}}</p></td></tr>
</table>
</div>
{% endblock %}